* {
    padding: 0;
    margin: 0;


}

body {
    width: 100vw;
    background-color: rgb(55, 0, 0);
    max-width: 1250px;
    height: 100%;
}

header {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;

}

.topo {

    width: 100px;
    height: 45px;
    display: block;
    justify-content: center center;
    text-align: center;
    border-radius: 20px;
    border: solid;
    margin: 10px;
    background-color: #000000;
}


main {
    width: 100vw;
    display: flex;
    background-color: rgb(55, 0, 0);



}

.guia {
    overflow: auto;
    margin: 10px;
    width: 25%;
    height: 550px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

}

#estrutura_div {
    background-image: url(/estrutura.png);
    background-size: cover;
    min-width: 250px;

}

.seletores {
    width: 100%;
    min-width: 250px;
    border: solid white;
    margin: 10px;
    overflow: auto;

}

#border_on label {
    color: white;
    margin-left: 10px;
}

#visorbody {
    min-width: 250px;
    width: 100%;
    height: 500px;
    order: 1;
    border: solid white;
    margin: 10px;
    background-color: rgb(25, 27, 30);
    overflow: auto;
}

#estrutura_div {
    width: calc(100%-10px);
    min-height: 200px;
    border: solid white;
    margin: 10px;

    background-size: 100%;
}

.janela {
    width: 75%;
    height: 550px;
    margin: 10px;
    border: solid rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    overflow: auto;


}

footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.734);
}


@media only screen and (max-width: 480px) {
    header {
        margin: 0;
        width: 100vw;
        border: none;
        box-shadow: none;
        position: sticky;
        top: 0;
        background-color: #000000;
    }



    main {

        display: block;
    }

    .janela {
        margin: 0;
        width: 100vw;
        height: 250px;
        position: sticky;
        top: 135px;
        border-bottom: solid black;
    }

    .guia {
        width: calc(100vw - 20px);
    }
}