* {
    padding: 0;
    margin: 0;
    
    
}
body{
    max-width: 1250px;
    
    background-color: rgb(28, 0, 0);
}
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.734);
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    box-shadow:0 0 10px rgb(255, 217, 0);
    border-bottom: solid rgb(255, 217, 0);
    color: white;
}
.topo{
  width: auto;
  display: inline-block;
  justify-content: center center;
  padding-top: 30px;
  margin: auto;
}
.topo input{
    width: 50px;
}
.topo label,select{
    width: 50px;
}

main {
    
    display: flex;
    
    
    
}
.guia {
    overflow: auto;
    margin: 10px;     
    width: 25%;
    background-color: rgb(0, 0, 0);
    box-shadow:0 0 10px rgb(255, 217, 0);
    border-bottom: solid rgb(255, 217, 0);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
#estrutura_div{
    background-image: url(/estrutura.png);
    background-size: cover;
    min-width: 250px;

}
.seletores{
   width:100%;
   min-width: 250px;
   border: solid white;
   margin: 10px; 
   overflow: auto;
   
}
#border_on label{
    color: white;
    margin-left: 10px;
}
#visorbody,#visorheader,#visormain,#visordiv_1,#visordiv_2,#visordiv_3,#visordiv_4,#visordiv_5,#visordiv_6,#visorfooter{
min-width: 250px;
width: 100%;
order: 1;
border: solid white;
margin: 10px;
background-color: rgb(25, 27, 30);
overflow: auto;
}
#estrutura_div{
  width: calc(100%-10px);
  min-height: 200px;
  border: solid white;
  margin: 10px; 
  
  background-size: 100%;
}

.janela{
    width: 75%;
    height: 550px;
    margin: 10px; 
    border: solid white;    
    background-color: white;
    background-size: cover;
    display: grid;
    grid-template-columns: 33px auto;
    grid-template-rows: 63px auto;
    overflow: auto;
    
}
.navegacao_janela{
    
    width: 104%;
    background-size: cover;
    margin-left: -33px;
    grid-column: 2;
    grid-row: 1;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
.recursao{
    grid-row: 1;
    grid-column: 1/3;
    width: 100%;
    height:  63px;
    
    position: sticky;
    top: 0;
    
}
#tela{
    margin-top: 63px;
    grid-row: 2;
    grid-column: 1/3;
    background-color: aqua;
}

footer {
    
    background-color: rgba(0, 0, 0, 0.734);
}
@media screen (max-width: 480px) {
    body{
        max-width: 480px;
        background-color: rgb(65, 43, 43);
    }
    header{
        margin: 0;
        width: 480px;
        border: none;
        box-shadow: none;
        height: 100px;
        position: sticky;
        top: 0;
        background-color: #000000;
    }
    main{
        display: block;
    }
    .janela{
        margin: 0;
        width: 480px;
        height: 250px;
        position: sticky;
        top: 100px;
        border-bottom: solid black;
    }
    .guia{
        width: 100%;
    }
}



