* {
    padding: 0;
    margin: 0;


}

body {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    max-width: 1250px;
    height: 100%;
}

header {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    z-index: 1;

}

.topo {

    width: 100px;
    height: 45px;
    display: block;
    justify-content: center center;
    text-align: center;
    border-radius: 20px;
    border: solid;
    margin: 10px;
    background-color: #000000;
}


main {
    width: 99vw;
    display: flex;




}

.guia {
    overflow: auto;
    margin: 10px;
    width: 25%;
    background-color: rgb(25, 27, 30);
    border: solid white;
    box-shadow: 0 0 10px rgb(255, 217, 0);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

}

.editor {
    display: flex;
    width: 99vw;
}

#visor_html {
    width: 25%;
    height: 500px;
    border: solid white;
    box-shadow: 0 0 10px rgb(255, 217, 0);
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(25, 27, 30);

    color: rgb(3, 143, 194);
}

#html {

    height: 442px;
    background-color: rgb(25, 27, 30);
    color: rgb(87, 182, 217);
    font-size: 15px;
}

.editorcss {
    width: 75%;
    height: 500px;
    border: solid white;
    box-shadow: 0 0 10px rgb(255, 217, 0);
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(25, 27, 30);
    overflow: auto;

}

#css_view {
    display: flex;
    flex-wrap: wrap;
}

#css_view div {
    min-width: 100px;
    padding: 5px;
}

#estrutura_div {
    background-image: url(/estrutura.png);
    background-size: cover;
    min-width: 250px;

}

.seletores {
    width: 100%;
    min-width: 250px;
    border: solid white;
    margin: 10px;

    overflow: auto;

}

#border_on label {
    color: white;
    margin-left: 10px;
}




#estrutura_div {
    width: calc(100%-10px);
    min-height: 200px;
    border: solid white;
    margin: 10px;

    background-size: 100%;
}

.janela {
    width: 75%;
    height: 550px;
    margin: 10px;
    border: solid rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    overflow: auto;


}

footer {
    height: 30px;
    width: 99vw;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);

}


@media only screen and (max-width: 480px) {
    header {
        margin: 0;
        width: 100vw;
        border: none;
        box-shadow: none;
        position: sticky;
        top: 0;
        background-color: #000000;
    }



    main {

        display: block;
    }

    .janela {
        margin: 0;
        width: 100vw;
        height: 250px;
        position: sticky;
        top: 210px;
        border-bottom: solid black;
    }

    .guia {
        width: calc(100vw - 20px);
    }

    .editor {
        display: block;
        width: 99vw;
    }

    .editorcss {
        width: 92%;
    }

    #visor_html {
        width: 92%;
        height: 500px;
    }
}

h4 {
    text-align: center;
    color: white;
    border-bottom: solid white;
}

#flex_on {
    display: none;
    width: calc(100% - 10px);
    background-color: rgb(25, 27, 30);
    color: white;
    padding: 5px;

    border-bottom: solid;
}

#border_on {
    display: none;
    width: calc(100%);
    height: calc(100% - 10px);
    background-color: rgb(25, 27, 30);
    color: white;
    padding: 5px;
}

#flex_on select {
    max-width: 90px;
    width: auto;
    margin-right: 10px;
}

#flex_on label {
    margin-left: 10px;
}

.campos label {
    width: 100px;
    display: inline-block;
    justify-content: space-around;
}


#grid_on {
    display: none;
    width: calc(100% - 20px);
    border-bottom: solid white;
    background-color: rgb(25, 27, 30);
    color: white;
    padding: 10px;
}

#grid_on label {
    border-bottom: solid white;
}
